[user]
	name = dfang
	email = df1228@gmail.com
[mergetool]
  keepBackup = true
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
[alias]
  aa = add --all
  ai = add -i
  b = branch
  ba = branch --all
  co = checkout
  ci = commit
  s = status
  st = status
  df = diff
  di = diff
  dc = diff --cached
  amend = commit --amend
  ff = merge --ff-only
  noff = merge --no-ff
  fa = fetch --all
  ds = diff --stat=160,120
  dh1 = diff HEAD~1
  unstage = reset HARD --
  last = log -1 HEAD
  switch = !legit switch \"$@\"
  branches = !legit branches
  sprout = !legit sprout \"$@\"
  unpublish = !legit unpublish \"$@\"
  harvest = !legit harvest \"$@\"
  sync = !legit sync \"$@\"
  publish = !legit publish \"$@\"
  graft = !legit graft \"$@\"
  today = log --since=midnight --author='dfang' --oneline
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[push]
  default = simple
[core]
	excludesfile = /Users/dfang/.gitignore_global
  pager = `brew --prefix git`/share/git-core/contrib/diff-highlight/diff-highlight | less
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /opt/homebrew-cask/Caskroom/sourcetree/1.8.0.3/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[branch]
  autosetuprebase = always
